<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.gmall.manage.Mapper.PmsSkuInfoMapper">
    <select id="selectSkuAttrValueListBySpuId" resultMap="selectSkuAttrValueListBySpuIdMap">
    SELECT
	si.*,si.id as si_id,
	ssav.*,ssav.id as ssav_id
FROM
	pms_sku_info si,
	pms_sku_sale_attr_value ssav
WHERE
	si.product_id = #{productId}
AND si.id = ssav.sku_id

    </select>
    <resultMap id="selectSkuAttrValueListBySpuIdMap" type="com.wh.gmall.bean.PmsSkuInfo" autoMapping="true">
        <result column="si_id" property="id" ></result>
        <collection property="skuSaleAttrValueList" ofType="com.wh.gmall.bean.PmsSkuSaleAttrValue" autoMapping="true">
            <result column="ssav_id" property="id" ></result>
        </collection>

    </resultMap>
</mapper>